
/*
** HTML elements
*/
* {
	padding:0;
	margin:0;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, label, ul, ol, dl, fieldset, address { margin:20px 0; }

li, dd, blockquote { margin-left: 40px; }

fieldset { padding:10px; }

img { border: 0px; }

body {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #fff;
  font: 76% Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;

}
tr.odd td, tr.even td {
  padding: 0.3em;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
a {
  text-decoration: none;
  font-weight: bold;
}


a:link {
  color: #39c;
}
a:visited {
  color: #369;
}
a:hover {
  color: #39c;
  text-decoration: underline;
}

#main a:link {
  color: #fc0;
}
#main a:visited {
  color: #fc0;
}
#main a:hover {
  color: #ff3;
  text-decoration: underline;
}

/* Fix tabs */
div#main div.tabs ul.tabs li a:link {
	color: #333;
}
div#main div.tabs ul.tabs li a:visited {
	color: #333;
}
div#main div.tabs ul.tabs li a:hover {
	color: #999;
  text-decoration: none;
}

fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
}
.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.links {
  margin-bottom: 0;
}
.comment .links {
  margin-bottom: 0;
}

.comment-unpublished, .preview div.comment, .preview div.node {
  background-color: #f90;
}

/*
** Page layout blocks / IDs
*/
/* @group Layout */
div#outer {
	width: 702px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
div#header {
	height: 80px;
	margin: 10px 0 0 0;
}
div#top-nav {
	width: 702px;
	height: 48px;
	background: url(images/body-top.gif) no-repeat;
	overflow: hidden;
}
div#body-middle {
	width: 702px;
	padding: 1px 0;
	background: url(images/body-middle.gif) repeat-y;
}
div#body-bottom {
	width: 702px;
	height: 25px;
	background: url(images/body-bottom.gif) no-repeat;
	overflow: hidden;
	/*clear:left;*/
}
div#main-col {
	width: 404px;
	float: left;
	margin-left: 32px;
	display: inline;
}
div#nameplate-top {
	width: 404px;
	height: 8px;
	background: url(images/nameplate-top.gif) no-repeat;
	overflow: hidden;
}
div#nameplate-middle {
	background-color: #c6d8e8;
	padding: 4px 6px;
}
div#nameplate-middle img {
	float: left;
	display: inline;
}
div#nameplate-middle p {
	float: right;
	text-align: right;
	margin: 0;
	line-height: 27px;
	color: #fff;
	text-transform: uppercase;
	font-size: 80%;
	display: inline;
}
div#nameplate-bottom {
	width: 404px;
	height: 8px;
	background: url(images/nameplate-bottom.gif) no-repeat;
	overflow: hidden;
	margin-bottom: 15px;
}
div#content-top {
	width: 403px;
	height: 8px;
	background: url(images/content-top.gif) no-repeat;
	overflow: hidden;
}
div#content-wrapper {
	width: 387px;
	border-right: 8px solid #c5d6e8;
	border-left: 8px solid #c5d6e8;
}
div#content {
	background-color: #688ba8;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	padding: 10px 0;
}
div#content div {
	padding: 5px 10px;
	border-bottom: 1px solid #c5d6e8;
}
div#content-bottom {
	width: 403px;
	height: 8px;
	background: url(images/content-bottom.gif) no-repeat;
	overflow: hidden;
}
div#side-col {
	width: 221px;
	float: right;
	margin-right: 34px;
	display: inline;
}
div.side-box-top {
	width: 221px;
	height: 7px;
	background: url(images/side-box-top.gif) no-repeat;
	overflow: hidden;
}
div#side-col div.block {
	width: 211px;
	background-color: #c6d8e8;
	padding: 1px 5px;
}
div.side-box-bottom {
	width: 221px;
	height: 7px;
	background: url(images/side-box-bottom.gif) no-repeat;
	overflow: hidden;
	margin-bottom: 10px;
}
div#footer {
	text-align: center;
	
}
div#logo {
	width: 300px;
	height: 75px;
	margin: 0 0 5px 0;
	float: left;
	display: inline;
}
div#login-box {
	float: right;
	width: 304px;
	height: 29px;
	background: url(images/login-tab.gif) no-repeat;
	margin: 51px 10px 0 0;
	overflow: hidden;
	display: inline;
}


/* @group Nav */
ul#navlist {
	background: url(images/nav-tabs.gif) no-repeat;
	height: 27px;
	margin: 14px 0 0 30px;
	overflow: hidden;
}
ul#navlist li {
	float: left;
	list-style-type: none;
	width: 127px;
	margin: 0;
	text-align: center;
	line-height: 28px;
}
ul#navlist li.last {
	margin-left: 83px;
}
ul#navlist a:link, ul#main-nav a:visited {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 120%;
}
ul#navlist a:hover {
	color: #ccc;
}
/* @end */

/**
 * Old stuff
 */
#header, #content {
  width: 100%;
}
#header {
  background-color: #fff;
}
#logo {
  vertical-align: middle;
  border: 0;
}
#logo img {
  float: left;
  padding: 0 1em;
  border: 0;
}
#menu {
  padding: 0.5em 0.5em 0 0.5em;
  text-align: right;
  vertical-align: middle;
}
#navlist {
  font-size: 1.0em;
  padding: 0 0.8em 1.2em 0;
  color: #9cf;
}
#navlist a {
  font-weight: bold;
  color: #fff;
}
#subnavlist {
  padding: 0.5em 1.2em 0.4em 0;
  font-size: 0.8em;
  color: #9cf;
}
#subnavlist a {
  font-weight: bold;
  color: #9cf;
}
ul.links li.first {
  border: none;
}
#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: 1.1em;
  height: 1.5em;
  vertical-align: middle;
}
#search .form-text {
  width: 8em;
  padding: 0 0.5em;
}
#mission {
  background-color: #9c6d8c;
  padding: 0.8em;
  color: #fff;
  margin-bottom: 1em;
}

#mission p {
	text-align: justify;
}

#mission a, #mission a:visited {
  color: #CCCCCC;
  font-weight: bold;
}
.site-name {
  margin: 0.6em 0 0 0;
  padding: 0;
  font-size: 2em;
}
.site-name a:link, .site-name a:visited {
  color: #fff;
}
.site-name a:hover {
  color: #369;
  text-decoration: none;
}
.site-slogan {
  font-size: 1em;
  color: #eee;
  display: block;
  margin: 0;
  font-style: italic;
  font-weight: bold;
}
#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px 5px;
  background-color:#688BA8;
  border-left:1px solid #FFFFFF;
  border-right:1px solid #FFFFFF;
  color:#FFFFFF;
}

#mission, .node .content, .comment .content {
  line-height: 1.4em;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
  margin-bottom: .5em;
}
.messages {
  background-color: #f90;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}
#sidebar-left, #sidebar-right {
  background-color: #ddd;
  width: 16em;
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
  vertical-align: top;
}
#footer {
  color:#ccc;
  text-align:center;
  padding: 1em;
  font-size: 0.8em;
}

#footer a, #footer a:visited {
  color:#ccc;
}
#footer a:hover {
  color: #999;
}

/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
.title, .title a {
  font-weight: bold;
  font-size: 1.3em;
  color:#FEBB3A;
  margin: 0 auto;  /* decrease default margins for h<x>.title */
}
.submitted {
  color: #CCC;
  font-size: 0.8em;
}
.links {
  color: #999;
}
.links a {
  font-weight: bold;
}
.block, .box {
  padding: 0 0 1.5em 0;
}
.block {
  border-bottom: 1px solid #bbb;
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
}
.block .title {
  margin-bottom: .25em;
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: .5em 0 2em 0;
}
.sticky {
  padding: .5em;
  background-color: #eee;
  border: solid 1px #ddd;
}
.node .content, .comment .content {
  margin: .5em 0 .5em 0;
}
.node .taxonomy {
  color: #999;
  font-size: 0.8em;
  padding-left: 1.5em;
}
.node .picture {
  border: 1px solid #ddd;
  float: right;
  margin: 0.5em;
}
.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}
.comment .picture {
  border: 1px solid #abc;
  float: right;
  margin: 0.5em;
}


/* Fix table backgrounds */
tr.even{
	background-color: #AEAEAE;
}
tr.odd{
	background-color: #999;
}


/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
}
#forum td.container {
  background-color: #ccc;
}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
div.admin-panel .description {
  color: #C6D8E8;
}

div.admin .left {
  width:45%;
}

div.admin-panel .body {
  background:  #AEAEAE;
}

div.admin-panel .body ul li{
	list-style: none;
}

div.admin-panel h3 {
  background-color: #69c;
  color: #fff;
  padding: 5px 8px 5px;
  margin: 0;
}

/* Top Login box area */
div#login-box div, div#login-box div ul, div#login-box div ul li
{
	display: inline;
}


.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

/* Side block bottom fix. */
div#side-col .block {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

div#main-col div#content-wrapper div#main div.side-box-bottom,
div#main-col div#content-wrapper div#main div.side-box-top,
div#footer div.side-box-top,
div#footer div.side-box-bottom,
div#top-header div.side-box-top,
div#top-header div.side-box-bottom {
	display: none;
}

#side-col .block{
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 0.9em;
}

#side-col .block h2.title{
	color: #92A8BD;
	font-size: 1.8em;
	text-align: center;
}

/*
Start of the login bar at the top.
*/
div#login-box {
  height: 3em;
}
 
/*
by default, the default form adds some surrounding space, this cancels it
*/
div#login-box div.form-item,
div#login-box div.content {
  margin: 0; padding: 0;
}
 
/*
this adds some space in top and bottom, so anything inside can look vertically
centered
*/
div#login-box {
  padding: 0.1em 5px;
}

/*
by default, fields labels tries to reserve a whole line for itself, this
cancels that and and sends it to the left.
it also adds some space on the right and left of the label to look easy on
the eye.
*/
div#login-box label {
  display: none;
}

/*
inputs too, they try to reserve a whole line for itself, this
cancels that and sends it to the left
*/
div#login-box input {
  float: left;
}

/*
I don't like the required * (asterisks), so I hide them.
*/
div#login-box span.form-required {
  display: none;
}

/*
the form submit button, it's so tight so we expand it a bit, and give it some
free space around.
*/
div#login-box input.form-submit {
  margin-top: -1px;
  margin-left: 10px;
  padding: 0 .5em;
}

/*
now this is for the links list, lists by default tries to reserve a whole line
also they add space surrounding them. we cancel all that and send the list
to the right
*/
div#login-box div.item-list ul {
  float: left;
  margin: 0; padding: 0;
  margin-right: 10px;
}

/*
remember, stylign above was for the whole list, now for each item,
we all know each item in the list by default exists on a separate line, also
has that bullet on the left. we cancel all that. and makes all items sit beside
each other
*/
div#login-box div.item-list ul li {
  display: none;
}

/*
this is the "Hi user, welcome back message".
by default <p> tries to exist on a separate line, we cancel that.
also by default <p> has some surrounding space, we cancel that too, and give it
only space on the left.
*/
div#login-box p.user-info {
  float: left;
  padding: 0;
  margin: 6px 0 0 10px;
  color: #fff;
}

div#login-box p.user-info a{
  color: #CCC;
}



div#login-box form#user-login-form{
	margin: 5px 0 0 0;
	text-align: center;
}

.form-text {
	border: 1px solid #46627c;
}

.form-submit{
   border:1px solid;
   font-size:84%;
}

div#login-box form#user-login-form div div.form-item input {
	margin: 0;
	vertical-align: middle;
}

div#login-box form#user-login-form div div.form-item .form-text {
	width: 90px;
	padding: 2px;
	height: 16px;
	line-height: 10px;
}

div#login-box form#user-login-form div .form-submit{
  float: left;
   color:#39c;
   font-family:'trebuchet ms',helvetica,sans-serif;
   font-weight:bold;
   background-color:#C6D8E8;
   border-top-color:#fff;
   border-left-color:#fff;
   border-right-color:#999;
   border-bottom-color:#999;
}

div#header div#login-box .user-info{
   margin-top: 6px;
}



